.checkout-review-form-log-in {
  width: 694px;
  height: 654px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.checkout-review-form-form {
  width: 813px;
  height: 670px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-review-form-checkout-stage {
  top: 0px;
  left: 46px;
  width: 610px;
  height: 24.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.checkout-review-form-text {
  top: 0px;
  left: 0px;
  color: var(--dl-color-default-600);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-review-form-text02 {
  top: 0px;
  left: 177px;
  color: var(--dl-color-default-600);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-review-form-text04 {
  top: 0px;
  left: 354px;
  color: var(--dl-color-default-600);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-review-form-text06 {
  top: 0px;
  color: var(--dl-color-default-600);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-review-form-group6 {
  top: 0px;
  left: 259px;
  width: 96px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-review-form-line5 {
  top: 13px;
  left: 0px;
  width: 25px;
  height: 0px;
  position: absolute;
}
.checkout-review-form-line6 {
  top: 13px;
  left: 71px;
  width: 25px;
  height: 0px;
  position: absolute;
}
.checkout-review-form-checkboxcirclefill3 {
  top: 0px;
  left: 34px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.checkout-review-form-group61 {
  top: 0px;
  right: 77px;
  width: 96px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-review-form-line51 {
  top: 13px;
  left: 0px;
  width: 25px;
  height: 0px;
  position: absolute;
}
.checkout-review-form-line61 {
  top: 13px;
  left: 71px;
  width: 25px;
  height: 0px;
  position: absolute;
}
.checkout-review-form-checkboxcirclefill31 {
  top: 0px;
  left: 34px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.checkout-review-form-group5 {
  top: 0px;
  left: 79px;
  width: 96px;
  height: 24px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-review-form-line52 {
  top: 13px;
  left: 0px;
  width: 25px;
  height: 0px;
  position: absolute;
}
.checkout-review-form-line62 {
  top: 13px;
  left: 71px;
  width: 25px;
  height: 0px;
  position: absolute;
}
.checkout-review-form-checkboxcirclefill32 {
  top: 0px;
  left: 34px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.checkout-review-form-text07 {
  top: 62px;
  left: 50px;
  height: 51px;
  position: absolute;
  align-self: flex-start;
}
.checkout-review-form-text08 {
  top: 131px;
  left: 74px;
  position: absolute;
}
.checkout-review-form-checkbox {
  top: 138px;
  left: 50px;
  width: auto;
  height: auto;
  position: absolute;
  align-self: center;
}
.checkout-review-form-proceed-options {
  top: 192px;
  right: var(--dl-space-space-fourunits);
  width: 482px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  padding-bottom: 0;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-review-form-text09 {
  top: 21px;
  left: 113px;
  color: var(--dl-color-default-700);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-review-form-button {
  color: var(--dl-color-gray-black80);
  right: 0px;
  width: 219px;
  bottom: 0px;
  height: 62px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  align-items: center;
  border-color: var(--dl-color-gray-black80);
  justify-content: center;
  background-color: #96b38e;
}
.checkout-review-form-root-class-name {
  align-self: center;
  margin-left: var(--dl-space-space-sixunits);
}
