.menuButton {
  cursor: pointer;
}

.navbar-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
}
.navbar-header {
  display: flex;
  max-width: 100%;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-pallet-green);
}
.navbar-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-container {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.navbar-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.navbar-textinput {
  width: var(--dl-size-size-xlarge);
  height: 34px;
  align-self: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
}
.navbar-middle {
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.navbar-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.navbar-text {
  text-decoration: none;
}
.navbar-text02 {
  text-decoration: none;
}
.navbar-logo-center {
  text-decoration: none;
}
.navbar-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.navbar-text03 {
  text-decoration: none;
}
.navbar-text05 {
  text-decoration: none;
}
.navbar-icons {
  display: flex;
}
.navbar-navlink {
  display: contents;
}
.navbar-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-image2 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.navbar-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.navbar-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}


.navbar-root-class-name2 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name3 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name4 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name5 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name6 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name7 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name8 {
  top: 0px;
  left: 0px;
}
.navbar-root-class-name9 {
  top: 0px;
  left: 0px;
}
@media(max-width: 991px) {
  .navbar-container {
    display: none;
  }
  .navbar-left {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .navbar-icons {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .navbar-logo-center1 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-header {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}
