.webusage-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.webusage-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.webusage-container1 {
  width: 80%;
  height: 696px;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.webusage-text {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.webusage-container2 {
  width: 747px;
  height: 438px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.webusage-text1 {
  align-self: center;
}
@media(max-width: 767px) {
  .webusage-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .webusage-container {
    padding-top: 55px;
  }
}
